.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #775454;
    /* background-color: antiquewhite; */
}

.paper {
    padding: 50px;
    width: inherit;  /* width: 600px; */
    margin: 20px auto;
    background-color: #dcc4c4; /* background-color: #f4f4f4; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    color: rgb(114, 7, 52);
    font-size: 34px;
    margin-bottom: 28px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.button {
    background-color: rgb(164, 78, 85);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #eb2918;
}

.student {
    background-color: #f2c5ea;
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     /* width: calc(20% - 20px);  */
    flex: 0 0 calc(24% - 2px);
    margin: 5px;  /* margin: 10px; */
    }

.student-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}